# Ignore terraform state files
.tfstate
.tfstate.*
terraform.tfstate
terraform.tfstate.*

# Ignore crash log files
crash.log

# Ignore local files
*.tfvars
*.tfvars.json
*.tfplan

# Ignore the .terraform directory
.terraform/

# Ignore CLI configuration files
.terraformrc
terraform.rc
